.footer {
    bottom: 0;
    width: 100%;
    height: 7rem;            /* Footer height */ 
    background-color: #2f2f2f;
    color: #fff;
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 25px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-nav {
    float: right;
    padding-right:50px;
}
.navbar-header {
    color: gray;
    padding-right:10px;
}
#caption {
    float: right;
}
#title {
    font-size:50px;
    padding-left: 50px
}
#container {
    height: 500px;
    min-width: 310px;
    width: 100%;
    margin: 0 auto;
}
#medianrent {
    height: 500px;
    min-width: 310px;
    width: 800px;
    margin: 0 auto;
}
#petanimals {
<<<<<<< HEAD
    height: 500px;
    min-width: 310px;
    width: 800px;
    margin: 0 auto;
}
#wheelchair {
=======
>>>>>>> 5d03d9013bb71dfbfe6011efa38aa2445d0f09df
    height: 500px;
    min-width: 310px;
    width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
#post {
 border: 1px dotted red;
 padding: 10px;
}
#craig-link {
    bottom: 15px;
    position: absolute;
    width: 100%;
}
.row {
    padding-bottom: 15px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #D8D8D8;
}
.card {
    border-color: #606666 !important;
    padding-bottom: 30px;
    border-bottom: solid;
    height: 200px;
}
.column {
    width: 50%;
    padding-top: 15px;
    position: absolute;
}
#bedbath {
    float: right;
    padding-right: 40px;
    position: relative;
}
p {
    text-align: right;
}
h2 {
    text-align: center;
    font-size: 40px;
}
.icon-input-btn {
    float: right;
    position: relative;
    padding-right: 70px;
    font-size: x-large;
}

