.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;            /* Footer height */ 
    background-color: #2f2f2f;
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-header {
    color: gray;
    padding-right:10px;
}


