<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Craigslist Recommendation System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        {% extends "layout.html" %}

        {% block content %}
        <div>
            <div id="favorites"></div>
            <div id="similar"></div>
            <script type="text/javascript" src={{ url_for('static', filename='js/favorites.js') }}/>
        </div>
        {% endblock %}
    </body>
</html>