<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Craigslist Recommendation System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        {% extends "layout.html" %}

        {% block content %}
        <div id="city">
            <script type="text/javascript" src={{ url_for('static', filename='js/home.js') }}/>
            </script>
            City:<input type="text" id="city_entry" value="surrey" ><button id="gobutton" onclick="window.location.reload();">GO</button>
        </div>
        <div id="listings">
            <script type="text/javascript" src={{ url_for('static', filename='js/home.js') }}/>
            </script>
        </div>
        {% endblock %}
    </body>
</html>
