 <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Craigslist Recommendation System</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" href="favicon.ico">

        <!-- css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
                <h1 id="title">Craigslist</h1>
                <h6 id="caption">CANADA<h6>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('favorites') }}">Favorites</a></li>
                <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
                <span class= "icon-input-btn glyphicon glyphicon-home" onclick="window.location.href = 'http://localhost:5000'"> </span>
            </ul>
          </div>
        </nav>

        {% block content %}{% endblock %}

        <footer class="footer"></footer>
    </body>

    <script>
        var url = window.location;
        $('ul.nav a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');
    </script>
</html>
